	<div class = 'col col-md-4 mb-4'>
		<%= image_tag badge.image, size: "350x250" %>
		<h4><%= badge.title %></h4>
		<%= link_to t('.edit'), edit_admin_badge_path(badge), class: 'btn btn-warning' %>
		<%= link_to  t('.delete'), admin_badge_path(badge), method: :delete,
													              data: { confirm: "DELETE" },
													              class: 'btn btn-danger' %>
	</div>