	<%= link_to "New Badge", new_admin_badge_path, class: 'btn btn-success mt-3 mb-5' %>
	<div class = 'row justify-content-center mb-5'>
		<div class = 'col-12 col-md-9'>
			<div class = 'd-flex flex-row flex-wrap' >
				<%= render @badges %>
			</div>
		</div>
	</div>
