  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <span class="navbar-text">
      <p style = 'display:inline-block'><%= github_url('40grivenprog', 'test-guru') %></p>
      <p style = 'display:inline-block'><%= current_year %></p>
      <p style = 'display:inline-block'>Maksim Filipenka</p>
      <p style = 'display:inline-block'>Project For Online Tests</p>
    </span>
  </nav>