<div  style=" position: absolute; bottom: 0;" >
	<p style = 'display:inline-block'><%= current_year %></p>
	<p style = 'display:inline-block'>Maksim Filipenks</p>
	<p style = 'display:inline-block'> Project For Online Tests </p>
	<p style = 'display:inline-block'> </p>
	<p style = 'display:inline-block'> <%= link_to 'TestGuru', github_url('40grivenprog', 'test_guru')%> <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/'%> </p>
</div>