<div style=" top: 0;  border: 4px double black" >
	<p style = 'display:inline-block'><%= main_page_url %></p>
	<p style = 'display:inline-block;  position: absolute; right: 15px ' ><%= link_to t('shared.log_out'), destroy_user_session_path, method: :delete  %></p>
</div>