	<nav class="navbar navbar-dark" style="background-color: #563D7C;">
		<%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
		<% if current_user.admin? %>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<%= link_to 'AdminPanel', admin_tests_path, class: 'nav-link' %>
				</li>
			</ul>
		<% end %>
		<span class = "navbar-text">
			<%= main_page_welcome %>
			<%= link_to t('shared.log_out'), destroy_user_session_path, method: :delete  %></p>
		</span>
	</nav>