  <div class = 'row justify-content-center mt-5'>
    <div class = "col col-md-4 border border-dark rounded" >
      <h1><%= t('.header', title: @test.title) %></h1>
        <%= render 'form' %>
    </div>
  </div>